@model WebCoreTutorial.Models.AppUser
@{
    ViewData["Title"] = "UserControl";
}
<link href="~/css/login.css" rel="stylesheet" />
<div class="container">
    <div class="page-title">
        <h4>الحساب الشخصي</h4>
    </div>
    <div class="text-danger">@WebCoreTutorial.Controllers.AcountController.Message</div>
    <div class="text-success">@WebCoreTutorial.Controllers.AcountController.successMsg</div>
    @if (TempData["successChangePass"] != null)
    {
        <div><p class="alert alert-success">@TempData["successChangePass"]</p></div>
    }
    <div class="rowUser">
        <div class="list-group userList">
            <a class="list-group-item text-dark text-center">
                <i class="fas fa-user-cog cog"></i>
                القائمة
            </a>
            <a href="#" class="list-group-item" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">تغيير كلمة المرور</a>
            @{
                if (WebCoreTutorial.Controllers.AcountController.IsProfileExist)
                {
                    long userid = WebCoreTutorial.Controllers.AcountController.UID;
                    if (userid > 0)
                    {
                        <a asp-action="EditProfile" asp-route-id="@userid.ToString()" class="list-group-item">الملف الشخصي</a>
                    }
                }
                else
                {
                    <a asp-action="Profile" asp-route-id="@User.FindFirst(ClaimTypes.NameIdentifier)?.Value" class="list-group-item">الملف الشخصي</a>
                }
            }

            <a href="#" class="list-group-item">رابط رقم 3 </a>
        </div>

        <div class="user-personal">
            <div class="form-group">
                <div><label asp-for="UserName" class="control-label"></label></div>
                <div class="userlbl">
                    <label>@Html.DisplayFor(model => model.UserName)</label>
                </div>
            </div>
            <div class="form-group">
                <div> <label asp-for="Email" class="control-label"></label></div>
                <div class="userlbl">
                    <label>@Html.DisplayFor(model => model.Email)</label>
                </div>
            </div>
            <div class="form-group">
                <div><label asp-for="Phone" class="control-label"></label></div>
                <div class="userlbl">
                    <label>@Html.DisplayFor(model => model.Phone)</label>
                </div>
            </div>
        </div>
    </div>


    <div id="id01" class="modal">

        <form asp-action="VerifyPassword" class="modal-content animate">
            <div class="imgcontainer">
                <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                <img src="@Url.Content("/images/user/f8bbf69f-75b2-450d-91cd-3f2b8c66b6c0.png")" alt="Avatar" class="avatar">
            </div>

            <div class="container">
                <label for="uname"><b>تأكيد كلمة المرور</b></label>
                <input type="password" placeholder="Enter Password" name="pass" required>

                <button type="submit" class="btn-primary">تأكيد</button>
            </div>
        </form>
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        // Get the modal
        var modal = document.getElementById('id01');

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
}
