@model WebCoreTutorial.Models.Payment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Payment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cardType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cardType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cardName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cardName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cardNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cardNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.expiration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.expiration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cvv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cvv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cart.id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.billingAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.billingAddress.Address)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
